.statistics-board {
  @media (min-width: 600px) {
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

#detail {
  color: #fff;
  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    .header {
      &__title {
        .primary {
          font-size: 48px;
          font-weight: 600;
        }
        .text {
          font-size: 14px;
        }
      }
    }
    .statistics-board {
      display: none;
    }
  }

  .content-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 30px;
    .content {
      &__image {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        padding-bottom: 5px;
        width: 100%;

        overflow: auto;
        &::-webkit-scrollbar {
          height: 5px; /* Chiều rộng thanh cuộn */
        }
        &::-webkit-scrollbar-track {
          background-color: rgba(0, 0, 0, 1); /* Màu nền của track */
          border-radius: 6px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #888; /* Màu của thanh cuộn */
          border-radius: 6px; /* Bo tròn các góc của thanh cuộn */
        }
        &::-webkit-scrollbar-thumb:hover {
          background-color: #555; /* Màu khi di chuột qua thanh cuộn */
        }

        img {
          object-fit: contain;
          width: 100%;
        }
      }
      &__detail {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: flex-start;
        .genre-list {
          display: flex;
          align-items: center;
          gap: 5px;
        }
        .overview {
          font-size: 14px;
        }
      }
    }
    .statistics-board {
      display: flex;
    }
  }

  .trailer-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;

    .trailer__title {
      font-size: 24px;
      font-weight: 600;
      color: #fff;
    }

    .trailer__container {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%; /* 16:9 aspect ratio */
      height: 0;
      overflow: hidden;
      border-radius: 8px;
      background-color: rgba(0, 0, 0, 0.5);

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }

  @media (min-width: 600px) {
    .header-section {
      .statistics-board {
        display: flex;
      }
    }
    .content-section {
      .content {
        &__image {
          flex: 1;

          &::-webkit-scrollbar {
            height: 10px; /* Chiều rộng thanh cuộn */
          }

          img {
            width: 100%;
            max-height: 500px;
          }
        }
        &__detail {
          flex: 1;
          .overview {
            font-size: 16px;
          }
        }
      }
      .statistics-board {
        display: none;
      }
    }
  }
}
