#home {
  #home {
    .skeleton-loading {
      .skeleton-loading {
        display: flex;
        display: flex;

        justify-content: space-around;
        justify-content: space-around;

        gap: 15px;
        gap: 15px;

        flex-wrap: wrap;
        flex-wrap: wrap;

        margin: 15px 0;
        margin: 15px 0;
      }
    }

    .tab {
      .tab {
        margin: 15px 0 30px;
        margin: 15px 0 30px;
      }
    }
  }
}
