.statistics-board {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;

  @media (max-width: 640px) {
    gap: 0.75rem;
  }

  @media (max-width: 360px) {
    gap: 0.5rem;
  }
}
