.movie-list {
  .movie-list {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1.5rem 0;

      .title {
        color: #f5c518;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2rem;
      }
      .view-type-box {
        display: flex;
        align-items: center;
        gap: 5px;
        .item {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          transition: all 0.4s ease;
          &.active {
            background-color: #555;
            border-radius: 2px;
          }
        }
      }
    }
    &__content {
      display: grid;
      grid-gap: 1rem;
      &.grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        .movie-card {
          &__body {
            .overview {
              display: none;
            }
          }
        }
      }
      &.list {
        grid-template-columns: 1fr;
        .movie-card {
          &__thumbnail {
            img {
              max-width: 120px;
            }
          }
          &__body {
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            .title {
              font-size: 16px;
            }
          }

          flex-direction: row;
        }
      }
      .movie-card {
        cursor: pointer;
      }
    }
  }

  @media (min-width: 600px) {
    .movie-list {
      &__header {
        .title {
          font-size: 2rem;
          line-height: 2.5rem;
        }
      }
      &__content {
        &.list {
          .movie-card {
            &__body {
              .title {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
